nav {
  background-color: #2c3e50 ;
  padding: 10px 20px;
  text-align: right;
}

nav a {
  background-color: #34495e;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  border-radius: 4px;
  margin: 10px 10px;
}

nav a:hover {
  background-color: #47637e;
}

/* Responsive Design */
@media (max-width: 850px) {
  nav {
    text-align: center;
  }
  
  nav a {
    display: block;
    margin: 10px auto;
  }
}